body {
    background-color: white;
}

body .input{
    margin: auto;
    width: 50%;
    padding: 10px;
}

body .input_text{
    width: 70%;
    height: 40px;
    text-align: center;
}
body  .submit{
    background-color: #4CAF50; /* Green */
    width: 23%;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
body  .submit:hover{
    background-color: darkgreen;
}

body .container{
    background-color: gray;
    width: 70%;
    padding: 40px;
    border-radius: 30px;
    margin: auto;
}

body .name{
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

body .temp {
    font-size: 25px;
    margin-bottom: 15px;
}

body div.card{
    background-color:white;
    border-radius: 10px;
    width: 15rem;
    height: 17rem;
    padding-top: 20px;
    text-align: center;
}

.btn-weather{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    width: 6rem;
    font-size: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 8px;
}
.btn-weather:hover{
    background-color: darkgreen;
}