.result-container-all{
    background-color: gray;
    margin: auto;
    width: 90%;
    padding: 25px;
}
.result-container{
    margin-top: 20px;
    max-width: 95%;
}
.cities-containers {
    position: relative;
    padding: 35px;
    background-color: rgba(666, 666, 666, 0.6);
    border-radius: 20px;
    width: 12rem;
    margin: auto 5px;
    text-align: center;
}

.cities-containers:hover .city-close {
    opacity: 1;
}
.city-close {
    position: absolute;
    color: red;
    top: 20px;
    right: 20px;
    opacity: 0;
    cursor: pointer;
}

.city-temp {
    font-size: 32px;
}

.city-name {
    font-size: 18px;
}

.saved-cities-container{
    background-color: gray;
    margin: auto;
    height: 25rem;
    width: 90%;
    padding: 25px;
}